@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

    
}



.header{
    width: 100%;
    height: 60px;
    background-color: rgb(18, 131, 206);
    color: white;
    font-weight: 400;
}

h1{
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}

.main{
    display: flex;
    /* justify-content: center; */
}

input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: solid 2px black;
    font-size: 20px;

}

textarea{
    width: 300px;
    height: 265px;
    border-radius: 5px;
    border: solid 2px black;
    font-size: 20px;
}

.form{
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    height: 400px;
    padding: 30px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}


label{
    font-weight: 500;
    font-size: 20px;
}

.list{
    margin-top: 50px;
    margin-left: 50px;
    width: 60%;
    
}

span{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-right:100px ;
    
}

.addbtn{
    width: 300px;
    height: 35px;
    background-color: rgb(18, 131, 206);
    color: white;
    border: none;
    border-radius: 5px;
}


.delete-button{
    position: relative;
    right: 100px;
    top: -30px;
    margin-left: 730px;
    background-color:  rgb(18, 131, 206);
    color:  rgb(255, 255, 255);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.delete-button:hover{
    background-color: rgb(182, 5, 5);
    color: white;
    transition: ;
}

.task{
    background-color: rgb(18, 131, 206);
    color: rgb(255, 255, 255);
    width: 600px;
    height: 90px;
    margin-top: 50px;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 10px;
}